.app-container {
  background-color: #fff;
  border: 1px solid #e9edf0;
  border-radius: 0.375rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 10px auto;
  max-width: 700px;
  padding: 37px;
}

.container {
  margin: 50px auto;
  max-width: 700px;
}

.btn {
  padding: 0.375rem 2.75rem;
}

.time {
  font-size: 50px;
  font-weight: bold;
}

.time small {
  font-size: 28px;
  font-weight: light;
}

@media (max-width: 768px) {
  .container {
    max-width: 300px;
    padding: 20px;
  }

  .app-container {
    max-width: 300px;
    padding: 24px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 15px;
  }

  .date {
    font-size: 8px;
  }

  .time {
    font-size: 15px;
  }

  .time small {
    font-size: 10px;
  }

  footer {
    font-size: 12px;
  }
  .btn {
    padding: 0.375rem 0.4rem;
    margin-left: 3px;
  }

  .container .col-3,
  .col-9 {
    padding: 0;
  }

  input {
    line-height: 1.2;
  }
}
